<form class="form-signin" role="form" method="post">
    <h2 class="form-signin-heading">用户登入</h2>
    <input type="text" class="form-control" placeholder="用户名" name="username" required autofocus>
    <input type="password" class="form-control" placeholder="密码" name="password" required>

    <div class="checkbox">
        <label>
            <input type="checkbox" value="remember-me"> 记住密码
        </label>
        <a href="/getPwd"> &nbsp;&nbsp;&nbsp;忘记密码?</a>
        <a href="/reg"> &nbsp;&nbsp;&nbsp;注册账号</a>
    </div>
    <div class="form-actions">
        <button class="btn btn-lg btn-primary btn-block" type="submit">登入</button>
    </div>
    <% if (locals.success && locals.success.length) { %>
    <div class="alert alert-success ">
        <%= locals.success %>
    </div>
    <% } %>
    <% if (locals.error && locals.error.length) { %>
    <div class="alert alert-error">
        <%= locals.error %>
    </div>
    <% } %>
</form>
